<!DOCTYPE HTML>
<html>
<body>


	   <div class="responsive-container">
		<div class="header">
			<div class="logo">
				<a href="index.html"><%= image_tag("logo.png", :alt => "rss feed") %></a>
			</div>
		</div>
		<div class="top-menu">
			<ul>
      			<li><%= link_to "Home", root_path %></li>
        		<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Menu", products_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
			</ul>
		</div>
		<div class="clear">
		</div>


<br>
<br>
<h2>About Us</h2>


	<div class="about">
	
			<div class="col-md-4 about-left">
				<%= image_tag("Models2.jpg") %>
				
				<p>Estimados amigos, es un honor para nosotros comunicarnos  con ustedes por este privilegiado conducto para platicarles un poco de la vision y la misión de nuestra Restaurant de comida Japonesa y Thailandesa Sushi One. </p><br />

				<p>Nuestra cocina fusiona la cocina oriental con un sabroso toque mexicano y Sudcaliforniano. </p><br />

				<p>Son ustedes jóvenes y las familias los que han hecho posible el exito de Sushi One y a ustedes están dedicados nuestros esfuerzos. </p><br />

				<p>Uno de los propósitos de nuestra visión en Sushi One es consolidarnos como uno de los mejores restaurantes de la Paz en nuestras especialidades de cocina oriental y estar en posibilidades de incrementar nuestra oferta de productos. </p><br />

			</div>
			<div class="col-md-4 about-left">
		
			<p>La Misión de Sushi One, es convertirnos en líderes de la comida japonesa y Thai, a partir de un menú elaborado con los productos mas frescos y de la mayor calidad posible, cuidando siempre el bienestar y la salud de nuestros clientes; sin embargo pensamos que un restaurant no solo es  comida. En Sushi One estamos obsesionados con la calidad de nuestros productos y con su precio accesible, pero también con un servicio cordial y rápido. </p><br />

			<p>Buenos productos terminados, servidos con la rapidez debida y un trato cortes y cordial, hacen posible que en Sushi One se respire una atmósfera distinta a las demas ofertas locales. </p><br />

			<p>Por todo ello queremos agradecer la preferencia que nuestra clientela nos dispensa e invitar al gran publico para que nos conozca y puedan degustar de nuestro amplio menú. </p><br />

			<p>Mucho agradeceríamos sus comentarios que nos enriquecerán para estar en la posibilidad de cumplir con sus expectativas y ofrecer siempre un mejor servicio. </p><br />
			</div>
			<div class="col-md-4 about-left">
				<ul>
					<li> <%= image_tag("b1.jpg") %></li>
					<li> <%= image_tag("b2.jpg") %></li>
					<li> <%= image_tag("b3.jpg") %></li>
					<li> <%= image_tag("b4.jpg") %></li>
				</ul>
			</div>
			<div class="clear"></div>
	
	</div>

        <br />
		<div class="main">
			<div class="reservations">
				<h2>Reservations</h2>
				<h2>+1 (234) 4567-890</h2>
				
			</div>
			<div class="para">
				<p>Open 9:00am - 10:00pm. Monday - Saturday. Closed Sunday <br />Location: Malecon entre 5 de Mayo y Callejon Constitución
La Paz, Baja California Sur</p>
				
			</div>
		</div>
		<div class="clear">
			
		</div>
        <br />
		<div class="footer">
			 <br />
			<div class="top-menu">
				<ul>
					<li><%= link_to "Home", root_path %></li>
	        		<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Menu", products_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
				</ul>
			</div>
		</div>
		</div>

</body>
</html>






