<!DOCTYPE HTML>
<html>
<body>


	   <div class="responsive-container">
		<div class="header">
			<div class="logo">
				<a href="index.html"><%= image_tag("logo.png", :alt => "rss feed") %></a>
			</div>
		</div>
		<div class="top-menu">
			<ul>
      			<li><%= link_to "Home", root_path %></li>
        		<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Menu", products_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
			</ul>
		</div>
		<div class="clear">
		</div>
			

<div class="grids">
			<div class="contact">
				<div class="slider-1">
		<h3>contact info</h3>
	<div class="map">
	<iframe width="380" height="330" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJY9KmIMgsroYRqCGBajuQiTE&key=AIzaSyBdd348JzdFgBJeBU78SbvvxKt9GMqw1Ww" allowfullscreen></iframe>
	</div>	
<div class="grids">
	<h4>Sushi One</h4><br>
	<span>Malecon</span><br>
	<span>La Paz, BCS </span><br>
	<span>Telephone: +1 959 603 6035</span> <br>
	<span>email:<a href=""> </a></span>
	</div>
	</div>
	<div class="slider-2">
		<h3>get in touch</h3>
<div class="table-form">
	<table cellspacing="8">
    <tbody>
    <tr><td colspan="6"> <input type="text" class="textbox" value="Name:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}"></td></tr>
     <tr><td colspan="6"> <input type="text" class="textbox" value="Email:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"></td></tr>
    <tr><td colspan="6"> <input type="text" class="textbox" value="Phone:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}"></td></tr>
 	<tr><td colspan="6"> <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
</td></tr>
  <td>
  	 </tbody></table>
  	 <div class="Button-form">
  	 	<ul>
  	 		<li><input type="submit"></li>
  	 		<li><input type="reset"></li>
  	 	</ul>
			
     </div>
   </div>
   
	</div>

	<div class="clear"> </div>

</div>

			</div>
			
	
		<div class="clear">
		</div>

        <br />
		<div class="footer">
			<div class="footer-menu">
				<ul>
					<li class="current"><a href="index.html">Home</a></li>
					<li class="submemu"><a href="about.html">About</a></li>
					<li class="submemu"><a href="Menu.html">Menu</a></li>
					<li class="submemu"><a href="contact.html">Contact</a></li>
				</ul>
			</div>
		</div>
		</div>
	</body>
</html>






