<p id="notice"><%= notice %></p>

<div class="responsive-container">
		
	<%= render partial: "shared/links" %>


	<div id="owl-demo" class="owl-carousel owl-theme"> 
	  <div class="item"><%= image_tag("slide2.jpg", :alt => " ") %></div>
	  <div class="item"><%= image_tag("slide1.jpg", :alt => " ") %></div>
	</div>


 <script type="text/javascript">
  
$(document).ready(function() {
 
  $("#owl-demo").owlCarousel({
 
 	  autoPlay : true,
      navigation : false, // Show next and prev buttons
      slideSpeed : 200,
      paginationSpeed : 400,
      // singleItem:true,
      autoHeight : true,
 	

      // "singleItem:true" is a shortcut for:
      items : 1, 
      itemsDesktop : true,
      itemsDesktopSmall : true,
      itemsTablet: true,
       itemsMobile : true,
       itemsMobileSmall: true,
    itemsScaleUp : true,
 
  });
 
});

    </script>


  <div class="row">
        <div class="col-md-4">
          <h2>Acerca de Nosotros</h2>
          <%= link_to image_tag("CHOKO ONE.jpg"), about_path %>
		  <p><%= link_to "Ver detalles", about_path, class: "btn btn-default" %></p>
        </div>
        <div class="col-md-4">
          <h2>Nuestra Carta</h2>
          <%= link_to image_tag("COCONUT SHRIMP.jpg"), products_path %>
		  <p><%= link_to "Ver detalles", products_path, class: "btn btn-default" %></p>
       </div>
        <div class="col-md-4">
          <h2>Menú Cóctel</h2>
          <%= link_to image_tag("Happyhour.jpg"), drinks_path %>		  
          <p><%= link_to "Ver detalles", drinks_path, class: "btn btn-default" %></p>
        </div>
      </div>




		<div class="clear">
		</div>



        <br />
		<div class="main">
			<div class="reservations">
				<h2>Reservas</h2>
				<h2>+52 612 122 3024</h2>
				
			</div>
			<div class="para">
				<p>Abierto 9:00am - 10:00pm. Lunes - Sabado. Cerrado los Domingos<br />Localización: Malecon entre 5 de Mayo y Callejon Constitución
La Paz, Baja California Sur</p>
				
			</div>
		</div>

<div class="clear">
</div>

<%= render partial: "shared/footer" %>

</div>







