<div class="responsive-container">
<<<<<<< HEAD
    <div class="header">
      <div class="logo">
         <%= link_to image_tag("logo.png", :alt => "logo"), root_path %>
      </div>
    </div>
    <div class="top-menu">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Menu", products_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </div>
    <div class="clear">
    </div>
      

=======
>>>>>>> spanish

<%= render partial: "shared/links" %>
      
<p id="notice"><%= notice %></p>

<% if user_signed_in? and current_user.admin? %>
  <%= link_to 'New Menu Item', new_product_path %> 
<% end %> 

<br />
<br />


<section class="parent">

<div class="child">
  <div class="dropdown">
    <%= link_to '#', class: "btn btn-default btn-danger dropdown-toggle", "data-toggle" => "dropdown" do %>
      Styles <b class="caret"></b>
    <% end %>
    <ul class='dropdown-menu'>
       <li><%= link_to "All", products_path %></li>
      <% Style.all.each do |style| %>
        <li><%= link_to style.name, style_path(style) %></li>
        <% end %>

    <!--     <% if user_signed_in? %>
        <li class='divider'></li>
        <li>
          <%= link_to (new_style_path) do %>
            New Style
          <% end %>
        </li>
        <% end %> -->
    </ul>
  </div>
</div>


  <div class="child">
    <div class="dropdown">
    <%= link_to '#', class: "btn btn-default btn-danger dropdown-toggle", "data-toggle" => "dropdown" do %>
      Ingredients <b class="caret"></b>
    <% end %>
    <ul class='dropdown-menu'>
       <li><%= link_to "All", products_path %></li>
      <% Ingredient.all.each do |ingredient| %>
        <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
        <% end %>
     <!--     <% if user_signed_in? %>
        <li class='divider'></li>
        <li>
          <%= link_to (new_ingredient_path) do %>
            New Ingredient
          <% end %>
        </li>
        <% end %> -->
    </ul>
    </div>
  </div>

<div class="child">
 <%= link_to 'Drinks', " ", class: "btn btn-default btn-danger dropdown-toggle" %>
</div>

</section> <!-- parent -->


<br />


<div class="container">
  <div id="products" class="transitions-enabled">
      <% @style.products.each do |product| %>
        <div class="box panel panel-default">
            <div class="title-index center"><%= product.title %></div>
          <%= link_to image_tag(product.image.url(:medium)), product %>
          <div class="panel-body">
            <%= product.description %> 

                 <% if user_signed_in? and (product.user == current_user || current_user.admin?) %>
                        <div class="actions">
                            <%= link_to 'Edit', edit_product_path(product) %>
                            <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </div>
                  <% end %>   
          </div>
        </div>
      <% end %>
   </div>
   <div class="clear"></div>   
</div>

 <script type="text/javascript">
            $container.imagesLoaded( function(){
                    $container.isotope({
                        itemSelector: '.box',
                        resizable: false, // disable normal resizing
                        // set columnWidth to a percentage of container width
                        masonry: { columnWidth: $container.width() / 4 }
                    }).isotope( 'reLayout' );
                    
            });
 </script>
    
<div class="center">    
<%= will_paginate @products, renderer: BootstrapPagination::Rails %> 
</div>

</div>
