
     <div class="jumbotron">
    <div class="header">
      <div class="logo">
        <a href="index.html"><%= image_tag("logo.png", :alt => "rss feed") %></a>
      </div>
    </div>
    <div class="top-menu">
      <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Menu", products_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </div>
    <div class="clear">
    </div>
      


<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <%= link_to 'New Menu Item', new_product_path %> 
<% end %> 

<br>
<br>


  <div class="dropdown">
    <%= link_to '#', class: "btn btn-default btn-danger dropdown-toggle", "data-toggle" => "dropdown" do %>
      Styles <b class="caret"></b>
    <% end %>
    <ul class='dropdown-menu'>
      <% Style.all.each do |style| %>
        <li><%= link_to style.name, style_path(style) %></li>
        <% end %>
        <li><%= link_to "All", products_path %></li>
        <% if user_signed_in? %>
        <li class='divider'></li>
        <li>
          <%= link_to (new_style_path) do %>
            New Style
          <% end %>
        </li>
        <% end %>
    </ul>
  </div>



  <div class="dropdown">
    <%= link_to '#', class: "btn btn-default btn-danger dropdown-toggle", "data-toggle" => "dropdown" do %>
      Ingredients <b class="caret"></b>
    <% end %>
    <ul class='dropdown-menu'>
      <% Ingredient.all.each do |ingredient| %>
        <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
        <% end %>
        <li><%= link_to "All", products_path %></li>
         <% if user_signed_in? %>
        <li class='divider'></li>
        <li>
          <%= link_to (new_ingredient_path) do %>
            New Ingredient
          <% end %>
        </li>
        <% end %>
    </ul>
  </div>


<br>



<div class="row">
    <% @style.products.each do |product| %>
     <div class="col-sm-6 col-md-3">
      <div class="panel-heading center">
      <span class="title-index"><%= product.title %></span>
      </div>
        <%= link_to image_tag(product.image.url(:medium)), product %>
        <div class="panel-body">
        <%= product.description %>
       <% if product.user == current_user %>
       <div class="actions">
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
        <% end %>     
      </div>
      </div>
    <% end %>
</div>



<div class="center">    
<%= will_paginate @products, renderer: BootstrapPagination::Rails %> </div>

</div>
