<%= form_for @product, html: { multipart: true }  do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">  
   <%= f.label :title %>
   <%= f.text_field :title, class: "form-control", :autofocus => true %>
   <br>
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>   
    <br>
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control", :autofocus => true %>

    <br>
    <strong>Style:</strong>
    <%= f.collection_check_boxes :style_ids, Style.all, :id, :name do |cb| %>
      <% cb.label(class: "checkbox-inline") {cb.check_box(class: "checkbox") + cb.text} %>
    <% end %>
    <br><br>

    <br>
    <strong>Ingredients:</strong>
    <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |cbi| %>
      <% cbi.label(class: "checkbox-inline") {cbi.check_box(class: "checkbox") + cbi.text} %>
    <% end %>
    <br><br>


  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
