<div class="jumbotron">
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      
    <span class="title-show"><%= @product.title %></span>
<br>
      <div class="panel-heading center">

<%= image_tag @product.image.url(:large) %>

</div>
      <div class="panel-body">


<p>
  <strong>Descripción:</strong>
  <%= @product.description %>
</p>

<% if @product.styles.any? %>
<p>Estilo Etiquetas: <%= render @product.styles %></p>
<% end %>

<% if @product.ingredients.any? %>
<p>Ingrediente Etiquetas: <%= render @product.ingredients %></p>
<% end %>


<% if user_signed_in? and (@product.user == current_user || current_user.admin?) %>
  <%= link_to 'Editar', edit_product_path(@product) %>  &nbsp; &nbsp; &nbsp; &nbsp;
<% end %> 
<%= link_to 'Atrás', products_path %> &nbsp; &nbsp; &nbsp; &nbsp;
<% if user_signed_in? and current_user.admin? %>
<%= link_to "[Eliminar Elemento]", @product, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

      </div>
    </div>
  </div>
</div>
</div>
