<div class="jumbotron">
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      
    <span class="title-show"><%= @product.title %></span>
<br>
      <div class="panel-heading center">

<%= image_tag @product.image.url(:medium) %>

</div>
      <div class="panel-body">


<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<% if @product.styles.any? %>
<p>Style Tags: <%= render @product.styles %></p>
<% end %>

<% if @product.ingredients.any? %>
<p>Ingredient Tags: <%= render @product.ingredients %></p>
<% end %>

<% if @product.user == current_user %>
  <%= link_to 'Edit', edit_product_path(@product) %>
<% end %> <%= link_to 'Back', products_path %>

      </div>
    </div>
  </div>
</div>
</div>
